@import 'tailwindcss';

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --link-color: #4493f8;
}

:root[data-theme='light'] {
    --background: #ededed;
    --foreground: #0a0a0a;
    --link-color: rgb(31, 31, 255);
}

:root[data-theme='light'] body {
    transition:
        background 0.4s ease,
        color 0.4s ease;
    will-change: background, color;
}

@media print {
    :root,
    :root[data-theme='light'] {
        --background: #fff;
        --foreground: #0a0a0a;
        --link-color: #0a0a0a;
    }

    @page {
        margin: 1.5cm;
    }
}

@theme {
    --breakpoint-xs: 480px;
    --inset-shadow-md: inset 0 0.25rem 0.25rem #000;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

.text-color-foreground {
    color: var(--foreground);
}
.bg-background {
    background-color: var(--background);
}
.bg-foreground {
    background-color: var(--foreground);
}

.bg-github {
    background-color: #0d1117;
}

:root[data-theme='light'] .bg-github {
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}
